html {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  gap: .75rem;
  margin: 0;
  font-family: "Merriweather";
}

*, *::before, *::after {
  box-sizing: inherit;
}

header h1 {
  font-weight: lighter;
}
